@import url(./cabecalho.css);
@import url(./conteudo.css);
@import url(./rodape.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

html{
    font-size: 62.8%;
}

.tit-sec{
    text-align: center;
    margin: 2vh 0;
    font-size: 2em;
}